.container {
  display: flex;
  margin-top: 60px;
}

.card {
  height: 460px;
  /* background: rgb(48, 207, 232); */
  flex: 1;
  transition: 0.3s;
  margin: 2px;
}

.card:hover {
  flex: 1.2;
  /* background: rgb(12, 171, 195); */
}

.card:first-child {
  background-image: url('/assets/img/hero-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:nth-child(2) {
  background-image: url('/assets/img/hero-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:nth-child(3) {
  background-image: url('/assets/img/hero-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:nth-child(4) {
  background-image: url('/assets/img/hero-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:nth-child(5) {
  background-image: url('/assets/img/hero-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}